<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.icia.News.DTO.ArticleDTO" alias="article"/>
        <typeAlias type="com.icia.News.DTO.MemberDTO" alias="member"/>
        <typeAlias type="com.icia.News.DTO.ReporterDTO" alias="reporter"/>
        <typeAlias type="com.icia.News.DTO.ReporterPictureDTO" alias="reporterPicture"/>

    </typeAliases>
</configuration>