<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Article">
    <insert id="save" parameterType="article" useGeneratedKeys="true" keyProperty="id">
        insert into news_article (articleTitle, articleWriter, articleContents, fileAttached, reporterId)
        values(#{articleTitle},#{articleWriter},#{articleContents},#{fileAttached},#{reporterId})
    </insert>

    <insert id="saveFile" parameterType="articlePicture">
        insert into news_article_picture(originalFileName, storedFileName, articleId)
        values(#{originalFileName}, #{storedFileName},#{articleId})
    </insert>

    <select id="findAll" resultType="article">
        select*from news_article
    </select>

    <select id="paging" parameterType="java.util.HashMap" resultType="article">
        select*from news_article order by id desc limit #{start}, #{limit}
    </select>

    <select id="count" resultType="Integer">
        select count(id) from news_article
    </select>

    <select id="searchCount" parameterType="java.util.HashMap" resultType="Integer">
        select count(id) from news_article where ${type} concat('%',#{q},'%')
    </select>

    <select id="search" parameterType="java.util.HashMap" resultType="article">
        select*from news_article where ${type} like concat('%',#{q},'%') order by id desc limit #{start}, #{limit}
    </select>

</mapper>














